/*--semantics reset and basics--*/

* {
  font-family: 'Lato';
}

body {
  margin: 0;
}

p, h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}

button {
  margin: 0;
  padding: 0;
  border: none;
}

/*--Header--*/

/*--Menu--*/

header {
  position: relative;
}

#logo {
  width: 100px;
  height: 30px;
  background-image: url(../img/logo_1_blue.png);
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  top: 16px;
  left: 24px;
}

#menu-symb {
  color: #0000FF;
  font-size: 36px;
  line-height: 38px;
  position: absolute;
  right: 24px;
  cursor: pointer;
}

#menu-symb:after{
  content: ' \2026';
}

.main-nav {
  background-color: #000;
  height: 64px;
}

.main-menu {
  display: none;
  position: absolute;
  margin-top: 64px;
  background-color: #0000FF;
  width: 100%;
  padding: 12px 0 24px 0;
  box-sizing: border-box;
}

.menu-item {
  padding: 12px 0;
  text-align: left;
  width: 147px;
  margin: 0 auto;
}

.menu-item.active:before {
  content: ' \25C9';
  padding-right: 18px;
  color: #fff;
  font-size: 15px;
}

.menu-item:before {
  content: ' \25EF';
  padding-right: 18px;
  color: #fff;
  font-size: 14px;
}

.menu-item a {
  text-transform: lowercase;
  font-variant: small-caps;
  letter-spacing: 6px;
  font-size: 24px;
  color: #fff;
}

.lang_items {
  overflow: hidden;
  text-align: center;
  padding: 24px 0 12px 0;
}

.lang_item {
  display: inline;
  padding: 12px;
  background-color: #4D4DFF;
  color: #fff;
  border-radius: 0;
  cursor: pointer;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  display:none;
}

/* The slider */
.checkslider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0000c4;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.checkslider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.checkinput:checked + .checkslider {
  background-color: #00008e;
}

.checkinput:focus + .checkslider {
  box-shadow: 0 0 1px #00008e;
}

.checkinput:checked + .checkslider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.checkslider:before {
  border-radius: 50%;
}



/*--Page: Work--*/

/*--Single: Work--*/

/*--Page: About--*/

/*--Page: Contact--*/

/*--Footer--*/

/*=====================================640PX========================================*/

@media (min-width: 640px) {

  /*--Header--*/

  /*--Menu--*/

  /*--Page: Work--*/

  /*--Single: Work--*/

  /*--Page: About--*/

  /*--Page: Contact--*/

  /*--Footer--*/

}

/*=====================================960PX========================================*/

@media (min-width: 960px) {

  /*--Header--*/

  /*--Menu--*/

  /*--Page: Work--*/

  /*--Single: Work--*/

  /*--Page: About--*/

  /*--Page: Contact--*/

  /*--Footer--*/

}

/*=====================================1200PX========================================*/

@media (min-width: 1200px) {

  /*--Header--*/

  /*--Menu--*/

  /*--Page: Work--*/

  /*--Single: Work--*/

  /*--Page: About--*/

  /*--Page: Contact--*/

  /*--Footer--*/

}
