/*--semantics reset and basics--*/

body {
  margin: 0;
}


main {
  overflow: hidden;
}


/*this is to lock scrolling past bottom/top of page: uncomment when finished*/


@media (min-width: 640px) {
    html {
        overflow: hidden;
        height: 100%;
    }

    body {
        height: 100%;
        overflow: auto;
    }
}
/*--*/

p {
  margin: 0;
  padding: 0;
  font-weight: 200;
  font-size: 1.2em;
  line-height: 2em;
}

h1, h2, h3, h4{
  margin: 0;
  padding: 0;
  margin-bottom: 36px;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.5em;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

button {
  margin: 0;
  padding: 0;
  border: none;
}

button:focus, input:focus {
  outline: none;
}

/*--Cookies--*/

#cookie-notice {
  bottom: 39px;
}

/*--Header--*/

header {
  position: relative;
}

#logocontainer {
  width: 20%;
}

#logocontainer a {
  width: 80px;
  height: 29px;
  top: 18px;
  left: 24px;
  position: absolute;
}

#logo {
  width: inherit;
  height: inherit;
  background-image: url(../img/eb_logo_black.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  display: block;
  text-indent: -9999px;
}

/*--Menu--*/

#menu-symb {
  color: #000;
  /* font-size: 36px; */
  /* line-height: 42px; */
  position: absolute;
  right: 24px;
  cursor: pointer;
  width: 33px;
  height: 28px;
  top: 18px;
  background-image: url(../img/hamb_black.svg);
  background-size: 100%;
  background-repeat: no-repeat;
}

/* #menu-symb:after{
  content: ' \2026';
} */

.main-nav {
  background-color: #FFF;
  height: 64px;
  /* max-width: calc(1000px + 48px); */
  /* width: 90%; */
  top: 0;
  z-index: 100;
}

.main-menu {
  display: none;
  position: absolute;
  margin-top: 64px;
  background-color: #FFF;
  width: 100%;
  height: 100vh;
  padding: 0 0 48px 0;
  box-sizing: border-box;
  z-index: 100;
}

.main-ul {
  margin-top: 48px;
}

.menu-item {
  padding: 12px 0;
  text-align: left;
  width: 147px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 6px;
}

.radiobutton {
  width: 12px;
  height: 12px;
  position: absolute;
  left: 0;
  top: 17px;
  color: #000;
  border: 2px solid #000;
  border-radius: 50%;
}

.menu-item.active .radiobutton {
  background-color: #000;
}

.radiobutton:after {
  content: "";
  position: absolute;
  display: none;
  top: 3px;
  left: 3px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: white;
}

.menu-item.active .radiobutton:after {
  display: block;
}

.menu-item a {
  padding-left: 28px;
  font-size: 1.5em;
  color: #000;
}

.lang_items {
  overflow: hidden;
}

.lang_item {
  text-align: center;
  display: inline;
  padding: 12px 6px;
  background-color: transparent;
  border-radius: 0;
  cursor: pointer;
  font-size: 0.8em;
  font-weight: 300;
}

.switch_container {
  width: 100px;
  text-align: center;
  float: right;
}

.lang_items a.active button {
  font-weight: bold;
}

/*--Page standards--*/

#home, #contact, #cookies, #errorpage, #about {
  margin: 54px auto 72px auto;
  width: 90%;
  overflow: hidden;
}

#work {
  margin: 54px auto 72px auto;
  width: 100%;
  overflow: hidden;
}

#single {
  max-width: 1000px;
  margin: 54px auto 72px auto;
  overflow: hidden;
}


section {
  overflow: hidden;
  margin-bottom: 84px;
}

input[type=submit] {
  background-color: transparent;
  cursor: pointer;
}

/*slider---*/

#slider_area {
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  height: 36px;
  max-width: 600px;
}

.prev, .next {
  position: relative;
  width: 16px;
  margin-top: -5px;
}

.prev input[type='submit'], .next input[type='submit'] {
  position: absolute;
  opacity: 0;
  width: 50px;
  height: 40px;
  padding: 0;
  z-index: 10;
  top: 0px;
}

.prev input[type='submit'] {
  left: -10px;
}

.next input[type='submit'] {
  left: -20px;
}

.prevbtn_style {
  text-align: left;
}
.nextbtn_style {
  text-align: right;
}

.prevbtn_style, .nextbtn_style {
  position: absolute;
  color: #000;
  font-size: 32px;
}

.prevbtn_style:before {
  content: ' \276E';
}

.nextbtn_style:before {
  content: ' \276F';
}

.theme_title {
  position: relative;
}

#cur_theme {
  position: relative;
  width: 250px;
  text-align: center;
}

#next_theme {
  position: absolute;
  opacity: 0;
  top: 0;
  width: 250px;
  text-align: center;
  right: -500px;
}

#prev_theme {
  position: absolute;
  opacity: 0;
  top: 0;
  width: 250px;
  text-align: center;
  left: -500px;
}

/*--Page: Home--*/

.home_image {
  margin-top: -54px;
  width: 100vw;
  height: 100vh;
  background-size: 285%;
  background-position: center;
  background-repeat: no-repeat;
}

#frontpage_text {
  width: 375px;
  transform: rotate(45deg);
  float:right;
  margin-top: 150px;
  margin-bottom: 150px;
}

#frontpage_text h1,
#frontpage_text h2,
#frontpage_text h3,
#frontpage_text h4 {
  width: 100%;
  margin: 0;
}

#frontpage_text h1 {
  letter-spacing: 0.21em;

}

#frontpage_text h2 {
  letter-spacing: 0.05em;
}

#frontpage_text h3 {
  letter-spacing: 0.34em;
}

#frontpage_text h4 {
  letter-spacing: 1.03em;
}

/*--Page: Work--*/

.categories {
  margin-right: 18px;
  height: 18px;
  display: inline-block;
  position: relative;
  padding-left: 32px;
  width: 100%;
  cursor: pointer;
  margin-bottom: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#category_area {
  max-width: 1000px;
  margin: 0 24px;
}

#category_area input[type='checkbox'] {
  cursor: pointer;
  position: absolute;
  opacity: 0;
}

#category_area input[type='submit'] {
  display: block;
}

.checkmark {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 16px;
  width: 16px;
  border: 1px solid #000;
}

.categories input:checked ~ .checkmark {
  background-color: #000;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.categories input:checked ~ .checkmark:after {
  display: inline-block;
  content: "×";
}

.categories .checkmark:after {
  color: #fff;
  font-size: 17px;
  font-weight: 100;
  left: 3px;
  line-height: 16px;
}

#work_grid {
  margin-top: 54px;
}

.grid_project {
  width: 100%;
  margin-bottom: 24px;
}

.grid_project p {
  margin-left: 18px;
}

.grid_project p, .similar_projects p {
  font-size: 0.6em;
}

.similar_projects p {
  line-height: unset;
}

.work_grid_image {
  width: 100%;
  height: 360px;
  background-size: 125%;
  background-position: center;
  background-repeat: no-repeat;
}

/*--Single: Work--*/

#single p {

}

.single_description {
  margin: 0 auto 54px auto;
  width: 90%;
}

#single h1,
#single h2 {
  width: 90%;
  margin: 0 auto 24px auto;
}

.single_category {
  margin: 0 auto;
  font-size: 0.8em;
  width: 90%;
}

.previmage_style,
.nextimage_style {
  cursor: pointer;
  font-size: 2em;
}

.previmage_style:before {
  content: ' \276E';
}

.nextimage_style:before {
  content: ' \276F';
}

.single_big {
  width: 100%;
  display: block;
  margin-bottom: -4px;
}

.single_big img {
  width: 100%;
}

.single_thumbs {
  width: 100%;
  margin-bottom: 114px;
}

.single_image {
  width: 25%;
  float: left;
  margin-bottom: -4px;
  cursor: pointer;
}

.single_image img {
  width: 100%;
}

.similar_thumbs_area {
  overflow: hidden;
}

.similar_thumb {
  margin: 0 auto 36px auto;
  width: 75%;
}

.similar_thumb img {
  width: 100%;
  height: 100%;
}

.browse_all {
  text-align: center;
  display: block;
  color: #fff;
  background-color: #000;
  font-weight: bold;
  padding: 6px 0 11px 0;
  margin: 24px auto 0 auto;
}

/*--Page: About--*/


#about p {
  margin: 0 auto;
}

#about .image {
  width: 100%;
  margin-bottom: 36px;
}

/*--Page: Contact--*/


/*form*/

.wpcf7 {
  width: 100%;
}

.wpcf7-form {
  width: 99%;
}

.wpcf7 label {
  font-size: 0.6em;
  margin-left: 2px;
}

.wpcf7 input[type=text],
.wpcf7 input[type=email] {
  font-size: 0.8em;
  font-weight: 200;
  margin: 6px 0 12px 0;
  width: 98%;
}

.wpcf7 textarea {
  font-size: 0.8em;
  resize: none;
  margin: 6px 0 12px 0;
  width: 98%;
}

div.wpcf7-mail-sent-ok {
  border: none;
  background-color: #eee;
  padding: 12px;
}

.wpcf7 input[type=submit] {
  float: right;
}

/**/

/*--Footer--*/

#mainfooter {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #FFF;
  padding: 3px 0;
}

/*=====================================640PX========================================*/

@media (min-width: 640px) {

  /*--Header--*/

  #logocontainer {
    width: 168px;
    float: left;
    overflow: hidden;
  }

  #logocontainer a {
    width: 100px;
    height: 38px;
    margin-top: 24px;
    margin-left: 24px;
    float: left;
    position: static;
    display: inline;
  }

  /*--Menu--*/

  #menu-symb {
    display: none;
  }

  .main-nav {
    height: 82px;
    background-color: #fff;
  }

  .main-menu {
    display: inline;
    position: static;
    float: right;
    margin-top: 21px;
    padding: 0;
    background-color: transparent;
    width: calc(100% - 168px);
    height: auto;
  }

  .main-ul {
    margin-top: 0;
    overflow: hidden;
    float: left;
    padding: 8px 0;
  }

  .menu-item {
    float: left;
    padding: 0;
    width: auto;
    margin: 0 20px 0 0;
  }

  .menu-item:before {
    padding-right: 11px;
  }

  .menu-item.active:before {
    padding-right: 11px;
    font-size: 0.6em;
  }

  .menu-item a {
    font-size: 0.8em;
  }

  .radiobutton {
    top: 5px;
  }

  .lang_items {
    float: right;
  }

  .lang_items a.active button {
    color: #000;
    font-weight: bold;
  }

  /*--Page standards--*/


#contact, #cookies, #errorpage, #about {
    margin: 54px auto 72px auto;
    width: 90%;
  }

   #about {
    margin-top: 36px;
  }

  h1, h2, h3, h4{
    margin-bottom: 54px;
  }

  /*--Page: Home--*/

  .home_image {
    background-size: 145%;
  }

  #frontpage_text {
    margin-right: 100px;
  }



  /*--Page: Work--*/

  #category_area {
    /* width: 90%; */
    /* margin: 0 auto; */
  }

  .categories {
    width: auto;
  }

  #category_area input[type='submit'] {
    display: inline-block;
  }

  .grid_project {
    width: 50%;
    float: left;
  }

  .work_grid_image {
    height: 420px;
    background-size: 135%;
  }



  /*--Single: Work--*/

  .similar_thumb {
    float: left;
    width: 33.33%;
  }

  /*--Page: About--*/


#about .image {
}

#imageblock {
  float: left;
  width: 45%;
}

#textblock {
  float: left;
  width: 55%;
  padding-left: 42px;
  box-sizing: border-box;
}

#about h2 {
  text-align: left;
  margin: 48px 0 24px 0;
}

#about p {
  margin-bottom: 0;
}

#about p:nth-child(1) {
  margin-top: -10px;
}

#about .image{
  margin: 0 auto 54px auto;
}

  /*--Page: Contact--*/

  .contact_text {
    float: left;
    width: 50%;
    padding-right: 42px;
    box-sizing: border-box;
    margin-top: 42px;
  }


  /*forms*/

  .wpcf7 {
    width: 49%;
    float: left;
    padding-left: 42px;
  }

  /**/

  /*--Footer--*/

  #mainfooter {
    padding: 6px 0;
  }

  #slider_area {
    height: 26px;
  }

}

/*=====================================960PX========================================*/

@media (min-width: 960px) {

  /*--Header--*/

  #logocontainer {
    width: 194px;
  }

  #logocontainer a {
    width: 120px;
    height: 43px;
    margin-top: 22px;
  }

  /*--Menu--*/

  .main-menu {
    width: calc(100% - 194px);
  }

  .main-nav {
    margin: 0 auto;
    /* width: calc(90% + 48px); */
  }

  .menu-item {
    margin-right: 32px;
  }

  .menu-item:before {
    padding-right: 18px;
  }

  .menu-item.active:before {
    padding-right: 18px;
  }

  .menu-item a {
    font-size: 0.9em;
  }

  /*--Page standards--*/


#contact, #about, #cookies, #errorpage {
    margin-top: 54px;
    max-width: 1000px;
  }

  /*--Page: Home--*/

  .home_image {
    background-size: 100%;
  }

  #frontpage_text {
    margin-right: 120px;
  }

  /*--Page: Work--*/

  #category_area {

  }

  .grid_project {
    width: 33.33%;
  }

  .work_grid_image {
    height: 480px;
    background-size: 152%;
  }

  /*--Single: Work--*/


  /*--Page: About--*/



  /*--Page: Contact--*/

  .wpcf7 {
    width: 40%;
    float: right;
  }

  /*--Footer--*/

}

/*=====================================1200PX========================================*/

@media (min-width: 1200px) {

  /*--Header--*/

  /*--Menu--*/

  /*--Page: Work--*/

  .work_grid_image {
    height: 520px;
    background-size: 130%;
  }

  /*--Single: Work--*/

  /*--Page: About--*/

  /*--Page: Contact--*/

  /*--Footer--*/

}

/*=====================================1500PX========================================*/

@media (min-width: 1500px) {


/*--page standards--*/

/* #contact, #about, #cookies, #errorpage {
    width: 70%;
  } */

  /*--Header--*/

  /*--Menu--*/

  .main-nav {
    max-width: calc(1000px + 48px); */
  }

  /*--Page: Work--*/

#category_area form {
    /* width: 50%; */
    margin: 0 auto;
}

#category_area{
  margin: 32px auto 72px auto;
}

#category_area input[type='submit'] {
  /* display: block;
  margin: 24px auto 0 auto; */
}

.grid_project p,
.similar_projects p {
  font-size: 0.8em;
}

  /*--Single: Work--*/

  /*--Page: About--*/

  /*--Page: Contact--*/

  /*--Footer--*/

}
