/*--semantics reset and basics--*/

* {
  font-family: 'Lato';
}

input[type=submit] {
  text-transform: lowercase;
  font-variant: small-caps;
  letter-spacing: 6px;
  font-size: 20px;
  background-color: #0000FF;
  color: #fff;
  border: none;
}


p {
  letter-spacing: 0.4px;
}

h1, h2, h3, h4{
  text-transform: lowercase;
  font-variant: small-caps;
  letter-spacing: 5px;
}

a {
  color: #000;
  text-decoration: none;
}


/*--Header--*/

/*--Menu--*/

#menu-symb {
  color: #0000FF;
}

.menu-item.active:before {
  color: #0000FF;
}

.menu-item:before {
  color: #0000FF;
}

.menu-item a {
  text-transform: lowercase;
  font-variant: small-caps;
  letter-spacing: 6px;
  color: #0000FF;
}

.lang_item {
  text-transform: lowercase;
  font-variant: small-caps;
  letter-spacing: 2px;
}

/*--Page standards--*/
/*slider---*/
/*--Page: Work--*/

/*--Single: Work--*/
/*--Page: About--*/
/*--Page: Contact--*/

/*form*/

/**/

/*--Footer--*/

/*=====================================640PX========================================*/

@media (min-width: 640px) {

/*--Header--*/

/*--Menu--*/

/*--Page standards--*/
/*slider---*/
/*--Page: Work--*/

/*--Single: Work--*/
/*--Page: About--*/
/*--Page: Contact--*/

/*form*/

/**/

/*--Footer--*/



}

/*=====================================960PX========================================*/

@media (min-width: 960px) {

/*--Header--*/

/*--Menu--*/

/*--Page standards--*/
/*slider---*/
/*--Page: Work--*/

/*--Single: Work--*/
/*--Page: About--*/
/*--Page: Contact--*/

/*form*/

/**/

/*--Footer--*/


}

/*=====================================1200PX========================================*/

@media (min-width: 1200px) {

/*--Header--*/

/*--Menu--*/

/*--Page: Work--*/

/*--Single: Work--*/

/*--Page: About--*/

/*--Page: Contact--*/

/*--Footer--*/

}
