/*--semantics reset and basics--*/

* {
  font-family: 'Lato';
}

input[type=submit] {
  text-transform: lowercase;
  font-variant: small-caps;
  letter-spacing: 6px;
  font-size: 1em;
  background-color: #3311ee;
  color: #fff;
  border: none;
}


p {
}

h1, h2, h3, h4{

}

body {
  /* background:
    /* On "top" */
    /* repeating-linear-gradient(
      45deg,
      transparent,
      transparent 10px,
      #42f4f1 10px,
      #42f4f1 20px
    ), */
    /* on "bottom" */
    /* linear-gradient(
      to bottom,
      #eee,
      #fffa72
    );  */

    background-color: #fff844;
}

a {
  color: #3311ee;
}


/*--Header--*/

/*--Menu--*/

.main-nav {
  background-color: transparent;
}

/*--Page standards--*/
/*slider---*/

.prev, .next {
  background-color: transparent;
}

.prev input[type='submit'] {
  background-image: url(../img/arrow_bl_left.svg);
}

.next input[type='submit'] {
  background-image: url(../img/arrow_bl_right.svg);
}

/*frontpage--*/

#frontpage {
  position: relative;
}

#front_background {
  background-color: transparent;
}

.fill {
  font-family: 'Passion One';
  text-transform: uppercase;
  font-size: 140px;
  line-height: 0.7em;
  margin-bottom: 0;
  position: absolute;
  bottom:0;
  left: 0;
  display: inline;
  width: 82%;
}

.titles_box{
  width: 18%;
  position: absolute;
  right: 0;
  bottom: 0;
}

.graphic_elem {
  background-image: url(../img/click_6-8.png);
  background-size: 100%;
  margin: 0 auto;
}

.graphic_elem {
  width: 100%;
  height: 100%;
  display: inline-block;
  background-repeat: no-repeat;
}

/*--Page: Work--*/

/*--Single: Work--*/
/*--Page: About--*/
/*--Page: Contact--*/

/*form*/

/**/

/*--Footer--*/

#mainfooter {
  background-color: transparent
}

/*=====================================640PX========================================*/

@media (min-width: 640px) {

/*--Header--*/

/*--Menu--*/

/*--Page standards--*/
/*slider---*/

/*front page*/

.graphic_elem {
  background-size: 90%;
}


.graphic_elem {
  width: 90%;
  height: 100%;
}

/*--Page: Work--*/

/*--Single: Work--*/
/*--Page: About--*/
/*--Page: Contact--*/

/*form*/

/**/

/*--Footer--*/


}

/*=====================================960PX========================================*/

@media (min-width: 960px) {

/*--Header--*/

/*--Menu--*/

/*--Page standards--*/
/*slider---*/

/*front page*/

.graphic_elem {
  background-size: 80%;
}


.graphic_elem {
  width: 80%;
  height: 100%;
}


/*--Page: Work--*/

/*--Single: Work--*/
/*--Page: About--*/
/*--Page: Contact--*/

/*form*/

/**/

/*--Footer--*/


}

/*=====================================1200PX========================================*/

@media (min-width: 1200px) {

/*--Header--*/

/*--Menu--*/

/*--Page: Work--*/

/*--Single: Work--*/

/*--Page: About--*/

/*--Page: Contact--*/

/*--Footer--*/

}

/*=====================================1500PX========================================*/

@media (min-width: 1500px) {

/*--Header--*/

/*--Menu--*/

/*frontpage*/

.graphic_elem {
  background-size: 90%;
}


.graphic_elem {
  width: 90%;
  height: 100%;
}

.fill {
}

/*--Page: Work--*/

/*--Single: Work--*/


/*--Page: About--*/

/*--Page: Contact--*/

/*--Footer--*/

}
