/*--semantics reset and basics--*/

* {
  font-family: 'Lato';
}

input[type=submit] {
  text-transform: lowercase;
  font-variant: small-caps;
  letter-spacing: 6px;
  font-size: 20px;
  background-color: #0000FF;
  color: #fff;
  border: none;
}


p {
  letter-spacing: 0.4px;
}

h1, h2, h3, h4{
  text-transform: lowercase;
  font-variant: small-caps;
  letter-spacing: 5px;
}

a {
  color: #000;
  text-decoration: none;
}


/*--Header--*/

#logo {
  background-image: url(../img/logo_1_blue.png);
}

/*--Menu--*/

#menu-symb {
  color: #0000FF;
}

.radiobutton {
  top: 20px;
  color: #0000FF;
  border: 1px solid #0000FF;
}

.radiobutton:after {
  background-color: #0000FF;
}

.menu-item.active {
  background-color: #FFF;
}

.menu-item.active .radiobutton {
  background-color: #FFF;
}

.menu-item a {
  text-transform: lowercase;
  font-variant: small-caps;
  letter-spacing: 6px;
  color: #0000FF;
}

.lang_item {
  text-transform: lowercase;
  font-variant: small-caps;
  letter-spacing: 2px;
}

.lang_items a.active button {
  color: #0000FF;
}

/*--Page standards--*/

input[type=submit] {
  background-color: #0000FF;
}

/*slider---*/

.prevbtn_style, .nextbtn_style {
  color: #fff;
  font-size: 32px;
}

.prevbtn_style:before {
  content: ' \276E';
}

.nextbtn_style:before {
  content: ' \276F';
}

/*--Page: Work--*/

.categories {
  text-transform: lowercase;
  font-variant: small-caps;
  letter-spacing: 4px;
}

.grid_project p {
  font-size: 14px;
  text-transform: lowercase;
  font-variant: small-caps;
  letter-spacing: 4px;
}

/*--Single: Work--*/



/*--Page: About--*/



/*--Page: Contact--*/

/*form*/

.wpcf7 label {
  font-size: 14px;
  text-transform: lowercase;
  font-variant: small-caps;
  letter-spacing: 4px;
}

.wpcf7 input[type=text],
.wpcf7 input[type=email] {
  border: none;
  border-bottom: 1px solid #000;
  width: 99%;
  margin: 6px 0 12px 0;
}

.wpcf7 textarea {
  border: 1px solid #000;
  resize: none;
  width: 98%;
  margin: 6px 0 12px 0;
}

div.wpcf7-mail-sent-ok {
  border: none;
  background-color: #eee;
  padding: 12px;
}

/**/

/*--Footer--*/

#mainfooter {
  background-color: #0000FF;
}

/*=====================================640PX========================================*/

@media (min-width: 640px) {

/*--Header--*/

/*--Menu--*/

.lang_items a.active button {
  color: #0000FF;
}

.radiobutton {
  top: 7px;
}

/*--Page standards--*/
/*slider---*/
/*--Page: Work--*/

/*--Single: Work--*/
/*--Page: About--*/
/*--Page: Contact--*/

/*form*/

/**/

/*--Footer--*/



}

/*=====================================960PX========================================*/

@media (min-width: 960px) {

/*--Header--*/

/*--Menu--*/

/*--Page standards--*/
/*slider---*/
/*--Page: Work--*/

/*--Single: Work--*/
/*--Page: About--*/
/*--Page: Contact--*/

/*form*/

/**/

/*--Footer--*/


}

/*=====================================1200PX========================================*/

@media (min-width: 1200px) {

/*--Header--*/

/*--Menu--*/

/*--Page: Work--*/

/*--Single: Work--*/

/*--Page: About--*/

/*--Page: Contact--*/

/*--Footer--*/

}
