/*Name: Druk*/

/*--semantics reset and basics--*/

* {
  font-family: 'Source Serif Pro';
}

body {
  background-color: #ff796b;
}


p {
  letter-spacing: 0.4px;
}

h1, h2, h3, h4{

}

a {
  color: #fff;
  text-decoration: none;
}


/*--Header--*/

#logo {
  background-image: url(../img/eb_logo_black.svg);
}

/*--Menu--*/

.main-nav {
  background-color: #ff796b;
}

.main-menu {
  background-color: #ff796b;
}

#menu-symb {
  background-image: url(../img/hamb_black.svg);
}

.radiobutton {
  display: none;
}

.radiobutton:after {
  background-color: #fff;
}

.menu-item {
  text-align: center;
}

.menu-item.active a {
  text-shadow: 2px 2px #000;
}

.menu-item.active .radiobutton {
  background-color: #FFF;
}

.menu-item a {
  text-transform: lowercase;
  font-variant: small-caps;
  letter-spacing: 0.2em;
  font-size: 1.5em;
  padding: 0;
  color: #fff;
}

.lang_item {
  text-transform: lowercase;
  font-variant: small-caps;
  letter-spacing: 2px;
  padding-top: 11px;
}

.lang_items a {
  font-size: 1.1em;
  letter-spacing: 0.2em;
}

.lang_items a.active button {
  color: #fff;
}

/*--Page standards--*/

#submit {
  box-shadow: 2px 2px #000, 1px 1px #000;
  background-color: #fff;
  border-radius: 0;
  font-size: 1em;
}

/*slider---*/



#cur_theme {
  font-size: 1.3em;
  text-align: center;
  line-height: 1.7em;
}

/* front page */

#frontpage {
  margin: 0;
  width: 100%;
  position: relative;
  height: 85vh;
}

#front_background {
  background-color: transparent;
  height: 100%;
}

.graphic_elem {
  background-image: url(../img/druk_2.png);
  background-size: 155%;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  margin-top: -12px;
  position: absolute;
  right: 0;
}


#textbox{
  position: absolute;
  top: 60%;
  width: 90%;
  left: 24px;
  max-width: 1000px;
}

.title{
  float:left;
  margin-right: 12px;
}

.fill{
  font-family: 'Colt';
  font-size: 6vw;
  margin: 0;
  line-height: 1em;
}

/*--Page: Work--*/

#category_area {
  padding-bottom: 2px;
}


.categories {
  font-size: 1em;
}

.checkmark {
  top: 1px;
  width: 14px;
  height: 14px;
  box-shadow: 2px 2px #000, 1px 1px #000;
  background-color: #fff;
}

.categories .checkmark:after {
  font-size: 20px;
  font-weight: 900;
  left: 2px;
  top: 1px;
}

.grid_project p, .similar_projects p {
  font-size: 1em;
  color: #000;
}

/*--Single: Work--*/


.browse_all {
  box-shadow: 2px 2px #000, 1px 1px #000;
  background-color: #fff;
  border-radius: 0;
  font-size: 1em;
  color: #000;
  border: 1px solid #000;
  width: 99%;
}

/*--Page: About--*/

#about h4 {
  margin-bottom: 16px;
}

/*--Page: Contact--*/

/*form*/

div.wpcf7 {
  padding-bottom: 3px;
}

.wpcf7 label {
  font-size: 1em;
}

.wpcf7 input[type=text],
.wpcf7 input[type=email],
.wpcf7 textarea {
  background-color: transparent;
}

.wpcf7 input[type=text],
.wpcf7 input[type=email] {
  border: none;
  border-bottom: 1px solid #000;
  width: 99%;
  margin: 6px 0 12px 0;
}

.wpcf7 textarea {
  border: 1px solid #000;
  resize: none;
  width: 98%;
  margin: 6px 0 12px 0;
}

div.wpcf7-mail-sent-ok {
  border: none;
  background-color: #eee;
  padding: 12px;
}

/**/

/*--Footer--*/

#mainfooter {
  background-color: #ff796b;
}


/*=====================================640PX========================================*/

@media (min-width: 640px) {

/*--Header--*/

/*--Menu--*/


#logocontainer {
  width: 194px;
}

.main-nav {
  background-color: transparent;
}

.main-menu {
  background-color: transparent;
  margin-top: 18px;
  width: calc(100% - 194px);
}
.menu-item {
  margin-right: 48px;
  text-align: left;
}

.menu-item a {
  font-size: 1.2em;
}

.lang_items a.active button {
  color: #fff;
}

.radiobutton {
  top: 7px;
}

.menu-item.active a {
  text-shadow: 1px 1px #000;
}

/*--Page standards--*/
/*slider---*/

/*front page*/

#frontpage {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}

.graphic_elem {
  background-size: 92%;
  margin: -12px auto 0 auto;
  position: static;
}

#front_background {
  margin-top: 24px;
}

#textbox {
  left: 0;
  width: 100%;
}

/*--Page: Work--*/

/*--Single: Work--*/

/*--Page: About--*/

#about p:nth-child(1) {
  margin-top: -6px;
}
/*--Page: Contact--*/

/*form*/

/**/

/*--Footer--*/



}

/*=====================================960PX========================================*/

@media (min-width: 960px) {

/*--Header--*/

/*--Menu--*/

#logocontainer {
  width: 208px;
}

.main-menu {
  width: calc(100% - 208px);
}

.menu-item {
  margin-right: 54px;
}


/*--Page standards--*/
/*slider---*/

/*front page*/

#frontpage {
  margin: 12px auto 0 auto;
  width: 90%;
  max-width: 1000px;
}

#front_background {
  margin-top: -18px;
}

#textbox {
  top: 70%;
}

/*--Page: Work--*/

/*--Single: Work--*/
/*--Page: About--*/
/*--Page: Contact--*/

/*form*/

/**/

/*--Footer--*/


}

/*=====================================1200PX========================================*/

@media (min-width: 1200px) {

/*--Header--*/

/*--Menu--*/

/*front page*/

.fill{
  font-size: 68px;
}

/*--Page: Work--*/

/*--Single: Work--*/

/*--Page: About--*/

/*--Page: Contact--*/

/*--Footer--*/

}

/*=====================================1500PX========================================*/

@media (min-width: 1500px) {

/*--Header--*/

/*--Menu--*/

/*front page*/


#front_background {
  background-size: 95%;
  margin-top: 48px;
}

#frontpage {
  margin: 48px auto 0 auto;
}

/*--Page: Work--*/

/*--Single: Work--*/

/*--Page: About--*/

/*--Page: Contact--*/

/*--Footer--*/

}
