/*--Name: Swiss--*/

/*--semantics reset and basics--*/

* {
  font-family: 'Helvetica';
}

input[type=submit] {
  text-transform: lowercase;
  font-variant: small-caps;
  letter-spacing: 6px;
  font-size: 1em;
  background-color: #44ffee;
  color: #fff;
  border: none;
}


p {
  font-weight: bold;
}

h1, h2, h3, h4{
  text-align: left;
}

a, a button {
  color: #000;
  text-decoration: none;
}


/*--Header--*/

/*--Menu--*/

#logo {
  /* background-image: url(../img/logo_1_white.png); */
}

#menu-symb {
  color: #000;
}

.main-menu {
  background-color: #ed2712;
}

.main-nav {
  background-color: #ed2712;
  color: #fff;
}

.radiobutton {
  /* top: 4px;
  border: 1px solid #fff;
  color: #fff; */
  display: none;
}

.menu-item {
  padding: 6px;
  margin: 0;
  text-align: center;
  width: 65px;
  margin: 0 auto;
}

.menu-item.active {
  border: 3px solid #000;
  margin: 0 auto;
}

.menu-item a {
  /* padding-left: 24px; */
  padding-left: 0;
  font-size: 0.8em;
}

.lang_item {
  text-transform: capitalize;
}

/* .menu-item.active .radiobutton {
  background-color: transparent;
}

.radiobutton:after {
  background-color: #fff;
} */


.main-ul li a {
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 0.5px;
  color: #000;
}

.lang_items a.active button {
  color: #000;
}

/*--Page standards--*/
/*slider---*/
/*--Page: Work--*/

.categories {
  font-weight: bold;
}

/*--Single: Work--*/
/*--Page: About--*/
/*--Page: Contact--*/

/*form*/

/**/

/*--Footer--*/

#mainfooter {
  background-color: #ed2712;
  /* color: #fff; */
}

/*=====================================640PX========================================*/

@media (min-width: 640px) {

/*--Header--*/

/*--Menu--*/

.main-menu {
  margin-top: 24px;
}

.main-ul {
  width: 300px;
  display: flex;
  padding: 3px;
  justify-content: space-between;
}

.menu-item {
  margin: 0;
}

.menu-item.active {
  margin: -3px;
}

/*--Page standards--*/
/*slider---*/
/*--Page: Work--*/

/*--Single: Work--*/
/*--Page: About--*/
/*--Page: Contact--*/

/*form*/

/**/

/*--Footer--*/



}

/*=====================================960PX========================================*/

@media (min-width: 960px) {

/*--Header--*/

/*--Menu--*/

/*--Page standards--*/
/*slider---*/
/*--Page: Work--*/

/*--Single: Work--*/
/*--Page: About--*/
/*--Page: Contact--*/

/*form*/

/**/

/*--Footer--*/


}

/*=====================================1200PX========================================*/

@media (min-width: 1200px) {

/*--Header--*/

/*--Menu--*/

/*--Page: Work--*/

/*--Single: Work--*/

/*--Page: About--*/

/*--Page: Contact--*/

/*--Footer--*/

}
