/*Name: Druk*/

/*--semantics reset and basics--*/

* {
  font-family: 'Source Serif Pro';
}

body {
  background-color: #ff796b;
}

input[type=submit] {
  text-transform: lowercase;
  font-variant: small-caps;
  letter-spacing: 6px;
  font-size: 1em;
  background-color: #fff;
  color: #fff;
  border: none;
}


p {
  letter-spacing: 0.4px;
}

h1, h2, h3, h4{
  font-family: 'Lourdes';
}

a {
  color: #000;
  text-decoration: none;
}


/*--Header--*/

#logo {
  background-image: url(../img/eb_logo_black.svg);
}

/*--Menu--*/

.main-nav {
  background-color: #ff796b;
}

.main-menu {
  background-color: #ff796b;
}

#menu-symb {
  background-image: url(../img/hamb_black.svg);
}

.radiobutton {
  top: 42%;
  color: #00ffFF;
  border: 1px solid #fff;
}

.radiobutton:after {
  background-color: #fff;
}

.menu-item.active {
}

.menu-item.active .radiobutton {
  background-color: #FFF;
}

.menu-item a {
  text-transform: lowercase;
  font-variant: small-caps;
  letter-spacing: 5px;
  color: #fff;
}

.lang_item {
  text-transform: lowercase;
  font-variant: small-caps;
  letter-spacing: 2px;
}

.lang_items a.active button {
  color: #fff;
}

/*--Page standards--*/

input[type=submit] {
  background-color: #fff;
}

/*slider---*/

.prev, .next {
  background-color: transparent;
}


.prev input[type='submit'] {
  background-image: url(../img/arrow_bl_left.svg);
}

.next input[type='submit'] {
  background-image: url(../img/arrow_bl_right.svg);
}

#cur_theme {
  font-family: 'Lourdes';
  font-size: 1.3em;
  text-align: center;
  line-height: 1.7em;
}

/* front page */

#frontpage {
  margin: 0;
  width: 100%;
}

#front_background {
  background-color: transparent;
}

.graphic_elem {
  background-image: url(../img/druk_2.png);
  background-size: 154%;
  background-repeat: no-repeat;
  height: 100%;
  margin-top: -12px;
}

#textbox{
  position: absolute;
  bottom: 0;
  width: 90%;
  margin: 24px;
  max-width: 1000px;
}

.fill{
  font-family: 'Colt';
  font-size: 6vw;
  margin: 0;
}

/*--Page: Work--*/

.categories {
  text-transform: lowercase;
  font-variant: small-caps;
  letter-spacing: 4px;
}

.grid_project p {
  font-size: 0.6em;
  text-transform: lowercase;
  font-variant: small-caps;
  letter-spacing: 4px;
}

/*--Single: Work--*/

.similar_projects p {
  font-size: 0.6em;
  text-transform: lowercase;
  font-variant: small-caps;
  letter-spacing: 4px;
}

.browse_all {
  text-transform: lowercase;
  font-variant: small-caps;
  letter-spacing: 4px;
  background-color: #fff;
}

/*--Page: About--*/



/*--Page: Contact--*/

/*form*/

.wpcf7 label {
  font-size: 0.6em;
  text-transform: lowercase;
  font-variant: small-caps;
  letter-spacing: 4px;
}

.wpcf7 input[type=text],
.wpcf7 input[type=email] {
  border: none;
  border-bottom: 1px solid #000;
  width: 99%;
  margin: 6px 0 12px 0;
}

.wpcf7 textarea {
  border: 1px solid #000;
  resize: none;
  width: 98%;
  margin: 6px 0 12px 0;
}

div.wpcf7-mail-sent-ok {
  border: none;
  background-color: #eee;
  padding: 12px;
}

/**/

/*--Footer--*/

#mainfooter {
  background-color: #ff796b;
}
/*=====================================500PX========================================*/

@media (min-width: 500px) {

#front_background {
  height: 86vh;
}


}

/*=====================================640PX========================================*/

@media (min-width: 640px) {

/*--Header--*/

/*--Menu--*/


.main-nav {
  background-color: transparent;
}

.main-menu {
  background-color: transparent;
}

.lang_items a.active button {
  color: #fff;
}

.radiobutton {
  top: 7px;
}

/*--Page standards--*/
/*slider---*/

/*front page*/

#frontpage {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}

.graphic_elem {
  background-size: 95%;
}

#front_background {
  margin-top: 24px;
  height: 85vh;
}

/*--Page: Work--*/

/*--Single: Work--*/

/*--Page: About--*/
/*--Page: Contact--*/

/*form*/

/**/

/*--Footer--*/



}

/*=====================================960PX========================================*/

@media (min-width: 960px) {

/*--Header--*/

/*--Menu--*/

/*--Page standards--*/
/*slider---*/

/*front page*/

#frontpage {
  margin: 12px auto 0 auto;
  width: 90%;
  max-width: 1000px;
}

#front_background {
  margin-top: -18px;
}

/*--Page: Work--*/

/*--Single: Work--*/
/*--Page: About--*/
/*--Page: Contact--*/

/*form*/

/**/

/*--Footer--*/


}

/*=====================================1200PX========================================*/

@media (min-width: 1200px) {

/*--Header--*/

/*--Menu--*/

/*--Page: Work--*/

/*--Single: Work--*/

/*--Page: About--*/

/*--Page: Contact--*/

/*--Footer--*/

}

/*=====================================1500PX========================================*/

@media (min-width: 1500px) {

/*--Header--*/

/*--Menu--*/

/*front page*/

#front_background {
  background-size: 95%;
  height: 70vh;
  margin-top: 48px;
}

/*--Page: Work--*/

/*--Single: Work--*/

/*--Page: About--*/

/*--Page: Contact--*/

/*--Footer--*/

}
