/*--Name: Swiss--*/

/*--semantics reset and basics--*/

* {
  font-family: 'Helvetica neue', 'Helvetica', 'Arial';
}

body {
  background-color: #fff;
}

input[type=submit] {
  text-transform: lowercase;
  font-variant: small-caps;
  letter-spacing: 6px;
  font-size: 1em;
  background-color: #000;
  color: #fff;
  border: none;
}


p {
  /* font-weight: bold; */
  letter-spacing: 0.02em;
}

h1, h2, h3, h4{
  text-align: left;
  margin: 0 auto;
}

a, a button {
  color: #000;
  text-decoration: none;
}


/*--Header--*/

/*--Menu--*/


.main-menu {
  background-color: #fff;
}

.main-nav {
  background-color: #fff;
  color: #fff;
}

.radiobutton {
  /* top: 4px;
  border: 1px solid #fff;
  color: #fff; */
  display: none;
}

.menu-item {
  padding: 6px;
  text-align: center;
  width: 100px;
}

.menu-item a {
  /* padding-left: 24px; */
  padding-left: 0;
}

.menu-item.active a {
  color: #56e25c;
}

.lang_item {
  text-transform: capitalize;
}

/* .menu-item.active .radiobutton {
  background-color: transparent;
}

.radiobutton:after {
  background-color: #fff;
} */


.main-ul li a {
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 0.5px;
  color: #000;
}

.lang_items a.active button {
  color: #000;
}

/*--Page standards--*/
/*slider---*/

/*--front page--*/

#front_background {
  background-color: #60EF66;
}

#frontpage_text {
  width: 100%;
  position: absolute;
  top: 30%;
  text-align: center;
  margin: 0 auto;
}

#frontpage_text h1 {
  text-align: center;
}

.title {
  font-weight: bold;
}

.graphic_elem {
  width: 250%;
  height: 250%;
  border-radius: 50%;
  margin: 0 auto;
  position: absolute;
  top: -78%;
  left: -62%;
  transform: skewX(35deg);
  background: repeating-radial-gradient(
    circle,
    #fff,
    #fff 3px,
    transparent 3px,
    transparent 50px
  );
  animation: spin 8s infinite alternate-reverse;
}

@keyframes spin {
  0% {transform: skewX(35deg);}
  100% {transform: skewX(25deg);}
}

.header1_box {
  height: 54px;
}

/*--Page: Work--*/

.categories {
  font-weight: bold;
}

/*--Single: Work--*/
/*--Page: About--*/
/*--Page: Contact--*/

/*form*/

/**/

/*--Footer--*/

#mainfooter {
  background-color: #fff;
  /* color: #fff; */
}

/*=====================================640PX========================================*/

@media (min-width: 640px) {

/*--Header--*/

/*--Menu--*/

.main-menu {
  margin-top: 24px;
}

.main-ul {
  width: 300px;
  display: flex;
  padding: 3px;
  justify-content: space-between;
}

.menu-item {
  margin: 0;
  text-align: left;
}

/*--Page standards--*/

h1, h2, h3, h4 {
}
/*slider---*/

/*--frontpage--*/


.graphic_elem {
  left: -52%;
  top: -72%;
}

.header1_box {
  height: 84px;
}

/*--Page: Work--*/

/*--Single: Work--*/
/*--Page: About--*/
/*--Page: Contact--*/

/*form*/

/**/

/*--Footer--*/



}

/*=====================================960PX========================================*/

@media (min-width: 960px) {

/*--Header--*/

/*--Menu--*/

/*--Page standards--*/

h1, h2, h3, h4 {
}

/*slider---*/

/*--frontpage--*/


/*--Page: Work--*/

/*--Single: Work--*/
/*--Page: About--*/
/*--Page: Contact--*/

/*form*/

/**/

/*--Footer--*/


}

/*=====================================1200PX========================================*/

@media (min-width: 1200px) {

/*--Header--*/

/*--Menu--*/

/*--Page: Work--*/

/*--Single: Work--*/

/*--Page: About--*/

/*--Page: Contact--*/

/*--Footer--*/

}
