/*--Name: Swiss--*/

/*--semantics reset and basics--*/

* {
  font-family: 'Helvetica neue', 'Helvetica', 'Arial', sans-serif;
}

body {
  background-color: #fff;
}


p {
  /* font-weight: bold; */
  letter-spacing: 0.02em;
}

h1, h2, h3, h4{
  text-align: left;
  margin: 0 auto;
}

a, a button {
  color: #000;
  text-decoration: none;
}


/*--Header--*/

/*--Menu--*/


.main-menu {
  background-color: #fff;
}

.main-nav {
  background-color: #fff;
  color: #fff;
}

.radiobutton {
  /* top: 4px;
  border: 1px solid #fff;
  color: #fff; */
  display: none;
}

.menu-item {
  padding: 6px;
  text-align: center;
  width: 100px;
}

.menu-item a {
  /* padding-left: 24px; */
  padding-left: 0;
}

.menu-item.active a {
  color: #56e25c;
}

.lang_item {
  text-transform: capitalize;
}

.main-ul li a {
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 0.5px;
  color: #000;
}

.lang_items a.active button {
  color: #000;
}

/*--Page standards--*/

a {
  color: #56e25c;
}

/*slider---*/

#cur_theme{
  font-weight: bold;
}

/*--front page--*/

#front_background {
  background-color: #60EF66;
}

#textbox {
  overflow: hidden;
  position: relative;
  z-index: 10;
  height: 45px;
}
/**/
.header1_box {
  height: 29px;
  display: inline;
  position: absolute;
  bottom: 0;
}

.fill {
  display: inline;
    font-size: 24px;
    text-transform: lowercase;
}
/**/
.titles_box {
  width: auto;
  position: absolute;
  right: 0;
}
/**/
.title {
  font-weight: bold;
  padding-right: 6px;
  font-size: 14px;
  line-height: 14px;
}

.graphic_elem {
  width: 160%;
  height: 160%;
  border-radius: 50%;
  margin: 0 auto;
  position: absolute;
  top: -36%;
  left: -33%;
  transform: skewX(35deg);
  background: repeating-radial-gradient(
    circle,
    #fff,
    #fff 3px,
    transparent 3px,
    transparent 50px
  );
  animation: spin 8s linear infinite;
}

@keyframes spin {
  0% {transform: skewX(35deg) rotateZ(0deg);}
  100% {transform: skewX(35deg) rotateZ(360deg);}
}

/*--Page: Work--*/

#category_area {
  padding-bottom: 12px;
  border-bottom: 2px solid #000;
}

.categories {
  font-weight: bold;
  height: 20px;
}

.checkbox {
    width: 14px;
    height: 14px;
    border: 2px solid #000;
    top: -2px;
    left: 0;
}

.checkbox:after,
.checkbox:before {
    height: 20px;
    border-left: 1px solid #000;
    left: 7px;
    top: -3px;
}

#submit {
  border-radius: 0;
  border-width: 2px;
  font-weight: bold;
  padding: 1px 18px;
}

/*--Single: Work--*/

.browse_all{
    border: 2px solid #000;
    background-color: transparent;
    color: #000;
    box-sizing: border-box;
    padding: 12px 0;
}

/*--Page: About--*/
/*--Page: Contact--*/

#contact_arrow:before {
  background-color: #56e25c;
}

/*form*/

.wpcf7 label {
  font-size: 0.8em;
  font-weight: bold;
}

.wpcf7 input[type=text],
.wpcf7 input[type=email],
.wpcf7 textarea{
  border: 1px solid #000;
  padding: 6px;
  width: 100%;
  box-sizing: border-box;
}

div.wpcf7-mail-sent-ok {
  background-color: #56e25c;
  font-weight: bold;
}

/**/

/*--Footer--*/

#mainfooter {
  background-color: #fff;
  /* color: #fff; */
}

/*=====================================640PX========================================*/

@media (min-width: 640px) {

/*--Header--*/

/*--Menu--*/

.main-menu {
  margin-top: 24px;
}

.main-ul {
  width: 300px;
  display: flex;
  padding: 3px;
  justify-content: space-between;
}

.menu-item {
  margin: 0;
  width: auto;
}

/*--Page standards--*/

h1, h2, h3, h4 {
}
/*slider---*/



/*--frontpage--*/

.fill {
    font-size: 36px;
  }

.graphic_elem {
  width: 250%;
  height: 250%;
  left: -64%;
  top: -72%;
}

#textbox{
  height: auto;
}

.header1_box {
  height: 60px;
  position: static;
}

.titles_box {
  position: absolute;
  bottom: 8px;
  right: 0;
}

.title {
  float: left;
  font-size: 16px;
  line-height: 16px;
}

/*--Page: Work--*/

/*--Single: Work--*/


/*--Page: About--*/
/*--Page: Contact--*/

/*form*/

/**/

/*--Footer--*/



}

/*=====================================960PX========================================*/

@media (min-width: 960px) {

/*--Header--*/

/*--Menu--*/

/*--Page standards--*/

h1, h2, h3, h4 {
}

/*slider---*/

/*--frontpage--*/

.header1_box {
  height: 84px;
}


.fill {
    font-size: 48px;
  }

/*--Page: Work--*/

/*--Single: Work--*/

/*--Page: About--*/
/*--Page: Contact--*/

/*form*/

/**/

/*--Footer--*/


}

/*=====================================1200PX========================================*/

@media (min-width: 1200px) {

/*--Header--*/

/*--Menu--*/

/*--Page: Work--*/

/*--Single: Work--*/


/*--Page: About--*/

/*--Page: Contact--*/

/*--Footer--*/

}
