/*--Name: Hoarfrost--*/

/*--semantics reset and basics--*/

* {
  font-family: 'Alegreya';
  color: #4a656b;
}

input[type=submit] {
  font-size: 1em;
  background-color: #7ba4ad;
  color: #fff;
  border: none;
}


p {
}

h1, h2, h3, h4{

}

a {
  color: #7ba4ad;
  text-decoration: none;
}

main {

}

body {
  background-color: #e8fbff;
}

.body_home {
  overflow-y: hidden;
}


/*--Header--*/

/*--Menu--*/

header {
  background-color: transparent;
}

.main-nav {
  background-color: transparent;
}

.main-menu {
  background-color: #e8fbff;
}

.radiobutton {
  display: none;
}

#menu-symb {
  background-image: url(../img/hamb_frost.svg);
  width: 45px;
  height: 36px;
  right: 20px;
  top: 14px;
}

#logocontainer a {
  width: 93px;
  height: 45px;
  left: 20px;
  top: 14px;
}

#logo{
  background-image: url(../img/eb_logo_frost.svg);
}

.menu-item {
  padding: 6px;
  text-align: center;
  width: 100px;
}

.menu-item a {
  padding-left: 0;
  color: #4a656b;
}

.menu-item.active a {
  color: #fff;
  text-shadow: 1px 1px 1px #4a656b;
}

.lang_item {
  padding-top: 13px;
  font-size: 1em;
  color:#4a656b;
}

.lang_items a.active button {
  color: #4a656b;
}

/*--Page standards--*/

#submit {
    border: none;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 1px 1px 5px rgba(74,101,107,0.6);
    margin: 2px 0 4px 1px;
    color: #4a656b;
}

/*slider---*/

#slider_area {
  margin: 1px auto -1px auto;
}

.prev, .next {
  background-color: transparent;
  width: 50px;
  margin-top: -28px;
}

.prev input[type='submit'] {
  background-image: url(../img/arrow_frost_left.svg);
}

.next input[type='submit'] {
  background-image: url(../img/arrow_frost_right.svg);
}

.next input[type='submit'],
.prev input[type='submit'] {
  width: 50px;
  top: 21px;
  height: 50px;
  background-position: center;
}

/*--front page---*/

#frontpage {
  margin: 0;
  width: 100%;
  max-width: none;
}

#front_background{
  background-image: url(../img/mammoth_3_smallscreens.gif);
  background-size: 225%;
  height: 100vh;
  margin-right: -24px;
  background-position: center 0;
  background-repeat: no-repeat;
}

.graphic_elem{
  width: 100%;
  height: 100%;
  background-color: #e8fbff;
  opacity: 0.2;
}

#textbox{
  position: absolute;
  width: 90%;
  max-width: 1000px;
  top: 36%;
  z-index: 50;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #4a656b;
}

.header1_box h1 {
  margin: 0;
}

/*--Page: Work--*/

#category_area{
  padding-left: 1px;
}

.categories {
  font-size: 1em;
  padding-left: 32px;
}

.checkmark {
  bottom: 0;
  border: none;
  box-shadow: 1px 1px 5px rgba(74,101,107,0.6);
  height: 16px;
  width: 16px;
}

.categories .checkmark:after {
  color:#4a656b;
  left: 4px;
}

/*--Single: Work--*/
/*--Page: About--*/
/*--Page: Contact--*/

#contact_arrow:before {
  background-color: #fff;
}

/*form*/

.wpcf7 label {
  font-size: 0.8em;
  font-weight: bold;
}

.wpcf7 input[type=text],
.wpcf7 input[type=email],
.wpcf7 textarea{
  border: none;
  box-shadow: 1px 1px 5px rgba(74,101,107,0.4);
  padding: 6px;
  width: 100%;
  box-sizing: border-box;
}

div.wpcf7-mail-sent-ok {
  background-color: #fff;
  font-weight: bold;
}

/**/

/*--Footer--*/

/* rgba(232, 251, 255, 0.8) */

#mainfooter {
    background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(199, 230, 237, 0.8) 65%);
    /* box-shadow: 0px -10px 20px rgba(48, 64, 68, 0.06); */
}

/*=====================================640PX========================================*/

@media (min-width: 640px) {

/*--Header--*/

/*--Menu--*/

#logocontainer a{
  margin-top: 13px;
  height: 48px;
  width: 115px;
  margin-left: 20px;
}

.main-menu {
  background-color: transparent;
  margin-top: 15px;
}

.menu-item {
  padding: 5px 32px;
  margin: 0;
  width: auto;
}

.menu-item a {
  font-size: 1.1em;
}

/*--Page standards--*/
/*slider---*/

/*frontpage*/

#front_background {
  background-image: url(../img/mammoth_3.gif);
}


/*--Page: Work--*/

/*--Single: Work--*/
/*--Page: About--*/
/*--Page: Contact--*/

/*form*/

/**/

/*--Footer--*/



}

/*=====================================960PX========================================*/

@media (min-width: 960px) {

/*--Header--*/

/*--Menu--*/

#logocontainer a {
  height: 55px;
  width: 135px;
}

/*--Page standards--*/
/*slider---*/

/*--frontpage--*/

#front_background{
  background-size: 100%;
}

#front_background{
  margin-top: -72px;
  margin-bottom: -10px;
}

/*--Page: Work--*/

/*--Single: Work--*/
/*--Page: About--*/
/*--Page: Contact--*/

/*form*/

/**/

/*--Footer--*/


}

/*=====================================1200PX========================================*/

@media (min-width: 1200px) {

/*--Header--*/

/*--Menu--*/

/*--Page: Work--*/

/*--Single: Work--*/

/*--Page: About--*/

/*--Page: Contact--*/

/*--Footer--*/

}
