/*--Name: Hoarfrost--*/

/*--semantics reset and basics--*/

* {
  font-family: 'Alegreya';
}

input[type=submit] {
  text-transform: lowercase;
  font-variant: small-caps;
  letter-spacing: 6px;
  font-size: 1em;
  background-color: #7ba4ad;
  color: #fff;
  border: none;
}


p {
}

h1, h2, h3, h4{

}

a {
  color: #7ba4ad;
  text-decoration: none;
}

main {
  background-color: #e8fbff;
}


/*--Header--*/

/*--Menu--*/

.main-nav {
  background-color: #e8fbff;
  box-shadow: 0px 10px 20px rgba(48, 64, 68, 0.04);
  background: linear-gradient(rgb(232, 251, 255), #fff 210%);
}

.main-menu {
  background-color: #e8fbff;
}

.radiobutton {
  display: none;
}

#menu-symb {
  background-image: url(../img/hamb_frost.svg);
  width: 39px;
  height: 36px;
}

#logocontainer a {
  height: 40px;
}

#logo{
  background-image: url(../img/eb_logo_frost.svg);
}

.menu-item {
  padding: 6px;
  text-align: center;
  width: 100px;
}

.menu-item a {
  /* padding-left: 24px; */
  padding-left: 0;
}

.menu-item.active a {
  color: #7ba4ad;
}

.lang_item {
  padding-top: 14px;
}

/*--Page standards--*/
/*slider---*/

#slider_area {
  margin: 1px auto -1px auto;
}

.prev, .next {
  background-color: transparent;
  width: 50px;
  margin-top: -28px;
}

.prev input[type='submit'] {
  background-image: url(../img/arrow_frost_left.svg);
}

.next input[type='submit'] {
  background-image: url(../img/arrow_frost_right.svg);
}

.next input[type='submit'],
.prev input[type='submit'] {
  width: 50px;
  top: 21px;
  height: 50px;
  background-position: center;
}

/*--Page: Work--*/

/*--Single: Work--*/
/*--Page: About--*/
/*--Page: Contact--*/

/*form*/

/**/

/*--Footer--*/

#mainfooter {
    background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(232, 251, 255, 0.8) 50%);
    box-shadow: 0px -10px 20px rgba(48, 64, 68, 0.06);
}

/*=====================================640PX========================================*/

@media (min-width: 640px) {

/*--Header--*/

/*--Menu--*/

.main-menu {
  background-color: transparent;
  margin-top: 16px;
}

.menu-item {
  padding: 6px 24px;
  margin: 0;
  width: auto;
}

/*--Page standards--*/
/*slider---*/
/*--Page: Work--*/

/*--Single: Work--*/
/*--Page: About--*/
/*--Page: Contact--*/

/*form*/

/**/

/*--Footer--*/



}

/*=====================================960PX========================================*/

@media (min-width: 960px) {

/*--Header--*/

/*--Menu--*/

#logocontainer a {
  height: 48px;
  margin-top: 18px;
}

/*--Page standards--*/
/*slider---*/
/*--Page: Work--*/

/*--Single: Work--*/
/*--Page: About--*/
/*--Page: Contact--*/

/*form*/

/**/

/*--Footer--*/


}

/*=====================================1200PX========================================*/

@media (min-width: 1200px) {

/*--Header--*/

/*--Menu--*/

/*--Page: Work--*/

/*--Single: Work--*/

/*--Page: About--*/

/*--Page: Contact--*/

/*--Footer--*/

}
