/*Name: Wavemaker*/

/*--semantics reset and basics--*/

* {
  font-family: 'Nimbus Sans', 'Helvetica', sans-serif;
}

input[type=submit] {
  font-size: 1em;
  background-color: #ed1212;
  color: #fbfbfb;
  border: none;
}

body {
  background-color: #fbfbfb;
}


p {
  font-size: 1.1em;
}

h1, h2, h3, h4{

}

a {
  color: #ed1212;
  text-decoration: none;
  font-weight: bold;
}


/*--Header--*/

/*--Menu--*/

.main-nav, .main-menu {
  background-color: #fbfbfb;
}

.lang_items a {
  text-decoration: none;
}

.radiobutton {
  display: none;
}

.menu-item {
  padding: 6px;
  text-align: center;
  width: 100px;
  margin-bottom: 16px;
}

.menu-item a {
  padding-left: 0;
}

.menu-item.active a {
  color: #ed1212;
}

.lang_item {
  text-transform: uppercase;
}

.main-ul li a {
  text-decoration: none;
  letter-spacing: 0.5px;
  color: #000;
  text-transform: uppercase;
  font-weight: normal;
}

.lang_items a.active button {
  color: #000;
}

/*--Page standards--*/

#submit {
  padding: 4px 18px 2px 18px;
  background-color: #000;
  border-radius: 0;
  border: none;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

#submit:hover, .browse_all:hover {
  background-color: #ed1212;
}

#submit:active, .browse_all:active {
  background-color: #c43f38;
}

#cn-accept-cookie, #cn-more-info {
  background-color: #fbfbfb;
  color: #000;
  border-radius: 0;
  font-weight: bold;
  letter-spacing: 0.1em;
}
/*slider---*/


#cur_theme {
  font-size: 1em;
  letter-spacing: 0.6px;
  line-height: 2.2em;
  text-transform: uppercase;
  background-color: #fbfbfb;
}

/*--front page--*/

#frontpage {
  margin: 0 auto;
  height: 67vh;
}

#front_background {
  background-color: #fbfbfb;
  height: auto;
  position: static;
  height: 150px;
}

.graphic_elem {
    background-image: url(../img/wavin_new.gif);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 150px;
    width:90vw;
    margin: 25% auto 0 auto;
}

#textbox {
  z-index: 10;
  width: 100%;
  text-align: center;
}

.fill {
  margin-bottom: 2px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 800;
  text-transform: uppercase;
}


.titles_box p {
  font-size: 0.8em;
}



/*--Page: Work--*/

.grid_project p, .similar_projects p {
  font-size: 0.9em;
  text-decoration: none;
  font-weight: bold;
}

.checkbox {
    width: 17px;
    height: 16px;
    bottom: 0;
    background-color: #fbfbfb;
    border-width: 2px;
}

.checkbox:after,
.checkbox:before {
    height: 14px;
    border-left: 3px solid #ed1212;
    left: 7px;
    top: 1px;
}

.categories {
  max-width: 124px;
  font-size: 0.9em;
  height: 18px;
}

/*--Single: Work--*/

.single_category{
  font-size: 0.9em;
}

.browse_all {
  text-decoration: none;
  padding: 9px 0 8px 0;
}
/*--Page: About--*/

#imageblock {
  position: relative;
}


/*--Page: Contact--*/

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #fbfbfb inset;
}

/*form*/

.wpcf7 label {
  font-size: 0.9em;
  font-weight: bold;
  text-transform: none;
  font-variant: normal;
  letter-spacing: normal;
}

.wpcf7 input[type=text],
.wpcf7 input[type=email],
.wpcf7 textarea{
  border: none;
  background-color: transparent;
  border-bottom: 2px solid #000;
  width: 100%;
  box-sizing: border-box;
}

div.wpcf7-mail-sent-ok {
  font-weight: bold;
}

/**/

/*--Footer--*/

.mainfooter {
  background-color: transparent;
  padding: 3px 0 5px 0;
}

/*=====================================440PX========================================*/

@media (min-width: 440px) {

  #frontpage {
    height: 60vh;
  }

  #front_background {
    height: 205px;
  }

.graphic_elem {
  height: 205px;
}


}

/*=====================================640PX========================================*/

@media (min-width: 640px) {

/*--Header--*/

/*--Menu--*/

.menu-item {
  margin-right: 24px;
  width: auto;
  margin-bottom: 0;
}

.menu-item a {
  font-size: 1em;
  padding-left: 24px;
}

/*--Page standards--*/
/*slider---*/

/*--front page--*/

#frontpage {
  height: 50vh;
  margin: 10% auto;
}

#front_background {
  height: 32vh;

}

.graphic_elem {
    height: 200px;
    width: 600px;
    margin: 0 auto;
    margin-bottom: 12px;
    left: calc(50% - 300px);
    top: calc(50% - 100px);
}

.fill {
  margin-bottom: 2px;
  font-size: 28px;
  line-height: 32px;
}

.titles_box p {
  font-size: 1.3em;
}


/*--Page: Work--*/

.categories {
  max-width: none;
  margin-right: 22px;
}

/*--Single: Work--*/
/*--Page: About--*/

#about p:nth-child(1){
  margin-top: -4px;
}
/*--Page: Contact--*/

/*form*/

/**/

/*--Footer--*/

.mainfooter {
  padding: 8px 0;
}

}

/*=====================================960PX========================================*/

@media (min-width: 960px) {

/*--Header--*/

/*--Menu--*/

/*--Page standards--*/
/*slider---*/
/*--front page--*/

#frontpage {
  margin: 7% auto;
  height: 50vh;
}

#front_background{
  margin-bottom: 24px;
  height: 240px;
}

.graphic_elem {
    height: 250px;
    width: 700px;
    left: calc(50% - 350px);
    top: calc(50% - 125px);
    margin: 0 auto;
}


.fill {
  font-size: 30px;
  line-height: 1em;
  margin-bottom: 6px;
}

/*--Page: Work--*/

/*--Single: Work--*/
/*--Page: About--*/
/*--Page: Contact--*/

/*form*/

/**/

/*--Footer--*/


}

/*=====================================1200PX========================================*/

@media (min-width: 1200px) {

/*--Header--*/

/*--Menu--*/

/*--front page--*/

/*--Page: Work--*/

/*--Single: Work--*/

/*--Page: About--*/

/*--Page: Contact--*/

/*--Footer--*/

}
/*=====================================1500PX========================================*/

@media (min-width: 1500px) {

/*--Header--*/

/*--Menu--*/

/*--front page--*/

#frontpage {
  margin: 7% auto;
  height: 58vh;
}

#front_background {
  height: 34vh;
  margin-bottom: 48px;
}

.graphic_elem {
    height: 300px;
    width: 900px;

}


.fill {
  font-size: 36px;
}

.title {
  font-size: 1em;
  line-height: 1.8em;
}

/*--Page: Work--*/

/*--Single: Work--*/

/*--Page: About--*/

/*--Page: Contact--*/

/*--Footer--*/

}

/*=====================================2000PX========================================*/

@media (min-width: 2000px) {

#frontpage {
  margin: 9% auto;
}

.graphic_elem {
  height: 400px;
  width: 1200px;
}

/*=====================================2000PX========================================*/

@media (min-width: 2000px) {

#frontpage {
  max-width: 1500px;
}

#front_background {
  margin-top: 2%;
}

#textbox {
  max-width: none;
}

.main-menu {
  width: calc(100% - 220px);
}

.menu-item {
  margin-right: 60px;
}

#logocontainer {
  width: 220px;
}

}


}
